.heading{
    color: rgb(30, 30, 31);
    display: flex;
    justify-content: center;
    position: relative;
    top: 56px;
    font-size: 32px;
}
.box{
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}
.boxes-button{
    height: 560px;
    width: 845px;
    border: 4px solid black;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    height: 555px;
    width: 279px;
}
#pink{
    border: 2px solid black;
    background-color: pink;
}
#orange{
    border: 2px solid black;
    background-color: rgb(245, 195, 12);
}
#yellow{
    border: 2px solid black;
    background-color: rgb(227, 238, 20);
}
#blue{
    border: 2px solid black;
    background-color: rgb(18, 128, 245);
}
.heading1{
   position: relative;
   top: 323px;
   left: 609px;
   font-size: 44px;
}